.flex-tile {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0;
    cursor: pointer;
    width: 45%; 

}

.tile-content {
    height: 300px;
    transform-origin: top left;
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000;
    background-color: white;
    padding: 40px;
    z-index: 1000;
    width: 80%;
    height: 80%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    overflow: hidden;
}
.popup > div {
    height: 700px


}
.popup > h2 {
    margin-bottom: 0;}

/* .close-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    float: right;
    margin-bottom: 10px;
} */

.close-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    position: absolute; /* Change from "relative" to "absolute" */
    top: 0; /* Align to the top edge of the parent */
    right: 0; /* Align to the right edge of the parent */
    margin: 10px; /* Add margin for spacing */
}